


  
  html, body {
    height: 100%;
   margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative !important;
}

main {
    flex-grow: 1;
}


footer {
    position: absolute !important;
    bottom: 0 !important;
    margin-top: 1em;
}

.bg-navbar {
  background: rgba(14, 14, 15, 0.473);
}
 
  
    